.pay-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0;
  h2 {
    margin: -0.5em 0 0.6em 1em;
  }
}

@media screen and (max-width: 600px) {
  .pay-header {
    display: flex;
    flex-direction: column;
  }
}
