.profileEdit {
  max-width: 100%;
  width: 95%;
  .form_bottom {
    margin: 3em;
    max-height: 450px;
    width: 100%;
    input {
      width: 33.5em;
    }
    label {
      margin: .8em 0 1em 0;
    }
    button {
      margin: 1em 0;
    }
  }
  .form_top {
    display: flex;
    max-height: 550px;
    width: 100%;
    .input_info_top{
      margin: 0 4em;
      width: 100%;
      input{
        width: 30em;
        margin: .5em 0;
      }
      label {
        margin: 1.5em 0 0 0;
      }
      button {
        margin: 1em 0 0 0;
      }
    }
  }
    .card {
      max-width: 100%;
      display: block;
      margin: 3%;
      padding: 1rem 0;
  
      span.profileEdit-photo {
        text-align: center;
      }

      b {
        font-weight: bold;
      }
  
      img {
        width: 100%;
        max-width: 50em;
        border-radius: 10px;
        height: 38em;
        margin: 3em 0 0 3em;
        padding-right: 1rem;
        padding-left: 1rem;
      }
      span.profileEdit-data {
        margin: 0 1rem;
      }
      span.profileEdit-data > * {
        border-top: 1px solid #ccc;
        padding: 5px 0;
      }

      textarea {
        width: 63em;
      }
    }
  }
  
  @media screen and (max-width: 600px) {
    span.profileEdit-photo {
      margin: auto;
    }
  }

  @media screen and (max-width: 600px) {
    .profileEdit {
      max-width: 800px;
      .form_top {
        display: flex;
        flex-direction: column;
        max-height: 670px;
        max-width: 100%;
        .input_info_top {
          margin: 0;
          input {
            width: 100%;
          }
        }
      }
      .form_bottom {
        margin: 0;
        max-width: 100%;
        max-height: 465px;
        input {
          width: 100%;
        }
      }
      .card {
        margin: 0;
        max-width: 100%;
        img {
          max-width: 400px;
          width: 25em;
          max-height: 200px;
          margin: 1em 0 0 0 ;
        }
        textarea {
          width: 100%;
        }
      }
    }
  }