.home {
    background-color: #FFFFFF;
    min-height: 100vh;
  
    & nav {
      background: rgba(255, 255, 255, 0.33);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6.3px);
      -webkit-backdrop-filter: blur(6.3px);
      border: 1px solid rgba(255, 255, 255, 0.22);
      backdrop-filter: blur(5px);     
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      color: #fff;
      & > .logo {
        color: #EF233C;
      }
    }
  }
  .home-links {
    display: flex;
    justify-content: center;
    align-items: center;

    .register-link {
        color: #D90429;
        transition: all 0.3s;
        font-size: 1.7em;
    }
    .register-link:hover {
      transform: translateY(-2px);
      color: var(--color-dark);
    }

    & li a {
      color: #fff;
    }
    & > * {
      margin-left: 1rem;
      color: #fff;
    }
  }
  
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-text {
    width: 50%;
    span {
      color: #EF233C;
    }
    & > * {
      color: #2B2D42;
      margin-bottom: 2rem;
    }
    & > h1 span {
      display: block;
    }
    & > h1 {
      font-size: 4em;
    }
    & p {
      font-size: 1.8em;
    }
    & .hero-buttons {
      color: #2B2D42;
      margin-bottom: 2em;
    }
  }
  .hero-image {
    width: 50%;
  }

  .hero-text, .hero-image {
    margin-top: 13em;
  }
  
  @media screen and (max-width: 800px) {
    .hero {
      flex-direction: column;
    }

    .hero-text, .hero-image {
      margin-top: 0;
    }
  
    .hero-text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      margin: auto;
      text-align: center;
      margin-top: 3.5em;
    }
    .hero-image {
      width: 100%;
      &img {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .hero-image img {
      width: 100%;
    }
  }

  @media screen and (min-width: 800px) {
    nav {
      position: relative;
      top: 3em;
    }
  }