.footer {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  color: rgb(40, 40, 40);
  border-top: 1.5px solid rgb(40, 40, 40);
  margin: 0 3em;
  .info, .links {
    margin: 2.9em 0;
  }
  a {
    font-size: 12px;
    margin: 0 5px;
    text-decoration: none;
    transition: .3s;
    &:hover {
      text-decoration: underline;
      font-weight: 600;
    }
  }
}
